<!DOCTYPE html>
<html lang="en">
<head>
<!--     Group 66 Swear Words Analysis
    Xinshu Li 875109
    Dongting Hu 960886
    Qinwei Yuan 1006223
    Ansheng Dong  989973
    Tonghao Wang 1039694 -->
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            background-image: url("../static/images/error.jpeg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
    </style>
</head>
<body>
    <div class="bg"></div>
</body>
</html>
