<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<!--     Group 66 Swear Words Analysis
    Xinshu Li 875109
    Dongting Hu 960886
    Qinwei Yuan 1006223
    Ansheng Dong  989973
    Tonghao Wang 1039694 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Swear Word Project</title>

    <!-- css stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">

    <!-- FontAwesome Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
</head>
<body id="index_page">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('map') }}">Map</a>
        <a href="{{ url_for('statistics') }}">Statistics</a>
        <a href="{{ url_for('monitor') }}">Monitor</a>
    </div>

    <span onclick="openNav()">
        <i class="fas fa-bars" id="index_hamburger"></i>
    </span>

    <header class="container" id="main">
        <img src="{{ url_for('static', filename='images/crown.png') }}" alt="">
        <h1>Keep Calm</h1>
        <h3>AND</h3>
        <h1>Swear a lot</h1>
        <h2>COMP90024 Project Group 66</h2>
    </header>

    <script>
        {# Set the width of the side navigation to 250px #}
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        {# Set the width of the side navigation to 0 #}
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>
